/* Hero */
.hero {width: 100vw; height: 100vh; min-height: 650px; background-image: url('/mtns.svg'); background-size: 1500px auto; background-position: center 110%!important; }
.hero-text {width: 100%;  z-index: 2; height: 100%; padding: 200px 2.5vw;}
.hero-text h1 {font-size: 80px; font-family: var(--native-script);  max-width: 500px; line-height: 70px;}
@media only screen and (max-width: 600px) {
  .hero {background-size: 1000px auto!important}
  
}



@keyframes scaledown {
  0% {transform: scale(0.75); opacity: 0;}
  25% {transform: scale(1.5); opacity: 1;}
  50% {transform: scale(1.5)}
  100% {transform: scale(0);}
}
.scaledown-sunburst {animation: scaledown 4s forwards; pointer-events: none; animation-delay: 0.5s; opacity: 0; }

@keyframes logo-enter {0% {transform: translateY(-5vh); opacity: 0;} 100% {transform: translateY(0vh); opacity: 1;}}
.logo-enter {animation: logo-enter 0.5s linear; z-index: 2; }




@keyframes fade-in {from {opacity: 0;} to {opacity: 1;}}
.welcome-message {animation: fade-in 1s linear 4s both;}



/* Navigation */
.site-nav {min-height: 650px; position: fixed; left: 0; top: 0; z-index: 0; width: 100vw; height: 100vh; bottom: 10vh; z-index: 1000; pointer-events: auto; will-change: bottom, transform, opacity;}

.nav-inner-wrapper {width: 90vw; height: 100%; position: fixed; top: 0; left: 0;}
.nav-inner { height: 100%; max-width: 90vw; padding: 2.5vw; background-position: center; background-image: url('/black-nav.png'); background-size: 100% 95%; max-height: 120px; background-repeat: no-repeat;}
.nav-logo-spacer {width: 25px;}
.nav-link {padding: 25px; font-family: var(--native-sans); font-size: 18px; color: var(--cream); flex:1; text-align: center;}
.nav-link:hover {cursor: pointer; text-decoration: underline; transform: scale(1.1); transition: all ease;}

.sunburst-wrapper {z-index:2; height: 100%; position: absolute; top: 0; left: 0;}
.sunburst {width: 50vw; height: 50vw;  position: absolute; background-image: url('/sunburst.svg'); background-repeat: no-repeat; background-position: center; background-size: contain;}

.logo-wrapper {position: absolute; }

.site-nav {pointer-events: none;}
.logo-wrapper {pointer-events: auto;}
.nav-inner-wrapper {pointer-events: auto;}
.nav-logo {animation: logo-intro 0.95s ease;}

@keyframes logo-intro{
  from {opacity: 0; transform: scale(0.5);}
  to {opacity: 1; transform: scale(1);}
}

/* About */


/* scene */
.about {width: 100vw; }
.content {width: 100%; height: 100%;}
.scene {height: 600px; width: 100%;}
.greg {background-image: url('/greg-2.png'); width: 400px; z-index: 2; height: 500px; left: 25px; top: -50px; }
.amanda {background-image: url('/amanda.png'); z-index: 2; width: 350px; right: -25px; height: 550px; top: 0; }
.highway {background-image: url('/highway.png'); z-index: 3; width: 150px; right: 0px; height: 150px; top: 450px; }
.staff {background-image: url('/staff.png'); width: 350px;  height: 450px; left: 25vw; z-index: 1; top: 50px; }
.staff-2 {background-image: url('/staff2.png'); width: 450px;  height: 500px; left: 50vw; z-index: 1; top: -20px; }
.rhonda {background-image: url('/rhona.png'); width: 350px; z-index: 3; top: 250px;  height: 300px; left: -100px; bottom: 20px; }

.goat-1 {background-image: url('/goat-1.png'); transform: rotate(-45deg); width: 400px; z-index: 2; height: 500px; left: 0px; top: 0; }
.goat-2 {background-image: url('/goat.png'); z-index: 2; width: 350px; right: -25px; height: 550px; top: 0; }

.greg-2 {background-image: url('/greg.png'); width: 400px; z-index: 2; height: 500px; left: 25px; top: -50px; }
.cheeses {background-image: url('/cheeses.png'); z-index: 3; width: 250px; right: 25px; transform: rotate(25deg); height: 250px; top: 300px; }
.jade {background-image: url('/jade.png'); width: 350px; height: 350px; top: 0px; right: -50px; }
.cutout {position: absolute;}
.about-text-1 { max-width: 70vw; min-width: 400px; margin-top: 200px; z-index: 2;}

/* components.css additions */

/* Markets */
.event {background-image: url('/square-tan.png'); background-size: 100% 100%; margin: 2.5vw;}

/* Footer */
footer {background-image: url('/black-textured.png'); background-size: 100% 100%; width: 100vw;}